[color]
	ui = true
[user]
	name = Samuel Fortier-Galarneau
	email = samuel.galarneau@gmail.com
[core]
	editor = nvim
	excludesfile = /Users/samuelg/.gitignore_global
[alias]
	prettylog = log --oneline --graph --color --decorate
    lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset' --date=relative
[color "status"]
	branch = yellow
[merge "npm-merge-driver"]
	name = automatically merge npm lockfiles
	driver = npx npm-merge-driver merge %A %O %B %P
[diff "ansible-vault"]
	textconv = ansible-vault view
	# Do not cache the vault contents
	cachetextconv = false
[merge "ansible-vault"]
	name = ansible-vault merge driver
	driver = /usr/local/bin/ansible-vault-merge -- %O %A %B %P
[url "https://git@"]
	insteadOf = git://
