src/
VirtualBox VMs/
Public/
Pictures/
Music/
Movies/
Library/
Downloads/
Documents/
Desktop/
.CFUserTextEncoding
.DS_Store
.atom/.node-gyp/
.atom/packages/
.atom/storage
.bash_history
*.swp
.ssh/
.subversion/
.vim/
.viminfo
.npm/
.coffee_history
.node-gyp/
.npmrc
.rbtools*
.pylint.d
.cups
.m2
.gnupg/
.htoprc
.Trash/
tmp/
*.log
*.tar.gz
node_modules/
www/
*.jar
*.wav
*.db
.lein/
Applications/
GitMigration*
.psql_history
.pgpass
.pgadmin_histoqueries
.emacs.d
.cpan
.config
.cache
.atom/compile-cache/
.NERDTreeBookmarks
AndroidStudioProjects/
EclipseProjects/
gerrit/
.ionic/
.cordova/
.android/
.gradle/
.plugman/
.atom/.apm
.gem/
.vagrant.d
.ssh-ec2.json
.rvm
.ri
.pry_history
.parallel
.nvm
.ngrok2
.netrc
.mysql_history
.local
.itmstransporter
.irb-history
.httpie
.heroku
.electron
.docker
.cocoapods
.bundle
.bash_sessions
.babel.json
.aws
.ansible_vault
.ansible_galaxy
.ansible
.AndroidStudio1.4
.AndroidStudio2.1
.bash_profile
.atom
.shuttle.json
.node_repl_history
*.swo
Boostnote
.oracle_jre_usage
*.swp
.shpotify.cfg
.zsh-update
.zcompdump-IT*
.zsh_history
.oh-my-zsh
iCloud Drive (Archive)/
go/
Exercism/
.zcompdump*
.tig_history
.ganttproject
.pyenv
.python_history
.cargo/
.rustup/
