[color]
	ui = true
[user]
	name = Samuel Fortier-Galarneau
	email = sgalarneau@digium.com
[core]
	editor = vim
	excludesfile = /Users/sgalarneau/.gitignore_global
[alias]
	prettylog = log --oneline --graph --color --decorate
    lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset' --date=relative
[color "status"]
	branch = yellow
