src/
data/
VirtualBox VMs/
Public/
Pictures/
Music/
Movies/
Library/
Downloads/
Documents/
Desktop/
.CFUserTextEncoding
.DS_Store
.bash_history
*.swp
.ssh/
.subversion/
.vim/autoload
.vim/bundle
.vim/colors
.viminfo
.npm/
.node-gyp/
.npmrc
.pylint.d
.gnupg/
.htoprc
.Trash/
tmp/
*.log
*.tar.gz
node_modules/
*.jar
*.wav
*.db
Applications/
.psql_history
.pgpass
.pgadmin_histoqueries
.config/*
!.config/nvim/
!.config/kitty/
!.config/alacritty/
!.config/zellij/
.cache
.NERDTreeBookmarks
.vagrant.d
.ssh-ec2.json
.nvm
.ngrok2
.netrc
.local
.httpie
.docker
.bash_sessions
.babel.json
.aws
.ansible_vault
.ansible_galaxy
.ansible
.bash_profile
.node_repl_history
*.swo
*.swp
.shpotify.cfg
.zsh-update
.zsh_history
.zsh_sessions/
.oh-my-zsh
iCloud Drive (Archive)/
go/
Exercism/
.tig_history
.pyenv
.python_history
.cargo/
.rustup/
.zcompdump*
.lesshst
.pgadmin
.rediscli_history
.standard-cache
aurora.toml
.tmux/
.influx_history
.terminfo/
.influxdbv2/
influxdb2backup/
.finicky.js
gcp/
.dlv/
.yarnrc
.boto
cloud-sql-proxy
