"*":
  editor:
    invisibles: {}
    fontSize: 14
  core:
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    projectHome: "/Users/sgalarneau/src/git"
    disabledPackages: [
      "vim-mode"
    ]
  "exception-reporting":
    userId: "bf3d79b4-4c16-fa22-5490-953fd928a614"
  "release-notes":
    viewedVersion: "0.70.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "cd6ae6185566e74dd56b64bc63addc7cd774ff07"
